/* MEDIA QUERY */


/*---------- XS -------------- XS --------------- XS --------------- XS ------------------- XS --------- */

@media(min-width: 320px) and (max-width: 767px) {
    /* start buy Page */
    .buy {}
    .buy h5 {
        font-size: 23px;
    }
    .buy .form-wrapper {
        padding: 0;
        margin: 40px auto;
        min-width: 100%;
    }
    .buy img {
        margin: 15px;
    }
    .buy .card img {
        margin: 0px;
    }
    .buy .tth {}
    .buy .ttd {}
    .buy .form-group {}
    .buy .focused .form-label {}
    .buy .table tr {}
    .buy .table td,
    .table th {}
    .buy .table th {
    padding: 10px 30px 10px 0;
        font-size: 15px;
    }
    .buy .table td {
        text-align: right;
        padding: 0;
        padding: 9px 0 15px 0;
        font-size: 14px;
    }
    .buy .form-input.filled {}

    .buy p {
        font-size: 16px;
    }

    .buy .form-input.quantity{
            margin-top: 0px;

    }
    .buy .btn-primary {
        display: block;
        width: 80%;
        margin: 20px auto;
    margin-bottom: 35px;
    }


    #decrease, #increase {
    height: 30px;
    width: 30px;
    padding: 10px;
}

    /* End buy Page */
}


/* ----------------------------------------------------------------------------------------------*/

@media(min-width: 360px) and (max-width: 767px) {}


/* ----------------------------------------------------------------------------------------------*/

@media(min-width: 375px) and (max-width: 767px) {}


/* ----------------------------------------------------------------------------------------------*/

@media(min-width: 411px) and (max-width: 767px) {

    .buy h5 {
        font-size: 25px;
    }

    .buy .form-input.quantity {
        margin-top: 5px;
    }
    .buy .table th{
        font-size: 18px;
    }

    .buy .table td{
        font-size: 17px;
    }

    #decrease, #increase {
        height: 36px;
        width: 36px;
        padding: 12px;
    }
}


/* ----------------------------------------------------------------------------------------------*/

@media(min-width: 414px) and (max-width: 767px) {}


/* ----------------------------------------------------------------------------------------------*/

@media(min-width: 568px) and (max-width: 767px) {

    .buy .table th {
        padding-right: 90px;
    }

    .buy .table td {}
    .buy .btn-primary {
        display: block;
        width: 60%;
        margin: 20px auto;
        font-size: 22px;
    }
}


/* ------- SM ------------- SM ------------- SM ------------- SM ------------- SM ------------- SM ------ */

@media(min-width: 640px) and (max-width: 767px) {}


/* ---------------------------------------------------------------------- */

@media(min-width: 667px) and (max-width: 767px) {}


/* ---------------------------------------------------------------------- */

@media(min-width: 731px) and (max-width: 767px) {}


/* ---------------------------------------------------------------------- */

@media(min-width: 736px) and (max-width: 767px) {}


/* ----- MD --------- MD --------- MD --------- MD --------- MD --------- MD --------- MD --------- MD ----*/

@media(min-width: 768px) and (max-width: 991px) {
    .buy .form-wrapper {
        min-width: 100%;
    }
    .buy h5 {
        font-size: 40px;
    }
    .buy .table th {
        font-size: 28px;
        padding-left: 20px;
    }
    .buy .table td {
        font-size: 28px;
    }

    .buy p {
        font-size: 25px;
    }

    .buy .btn-primary {
        padding: 12px 0;
        width: 61%;
        font-size: 30px;
    }

    #decrease, #increase {
        height: 50px;
        width: 50px;
        font-size: 46px;
        padding: 18px 0px 0px 0;
        border-radius: 5px;
    }

}